body {
  font-family: Roboto Mono, sans-serif;
  margin-top: 3%;
}

.color {
  background-color: black;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  margin: 1px;
  width: 40px;
  vertical-align: top;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  margin: -1px;
  width: 40px;
  vertical-align: top;
}

.center {
  margin: 7px auto;
  text-align: center;
}
